:root {
	/* Primary Colors */
	--Moderate-cyan: hsl(176, 50%, 47%);
	--Dark-cyan: hsl(176, 72%, 28%);
	/* Neutral Colors */
	--Black: hsl(0, 0%, 0%);
	--Dark-gray: hsl(0, 0%, 48%);
	--Fadded-dark-gray: hsla(0, 0%, 48%, 0.50);
	/* Sizing */
	--card-border-radius: 10px;
	--card-margin: 0 1.5rem 2rem 1.5rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: auto;
	list-style: none;
}

img {
	max-width: 100%;
}

/* TOP IMAGE */
body {
	background-color: whitesmoke;
	position: relative;
	background-image: url(images/image-hero-mobile.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	font-family: 'commissioner', sans-serif;
}

/* HEADER */
.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 2rem 1.5rem;
}

.logo {
	position: absolute;
	z-index: 5;
	top: 2rem;
	left: 1.5rem;
}

.nav {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.x {
	display: none;
}

.x.open {
	display: block;
	position: absolute;
	z-index: 5;
	top: 2rem;
	right: 1.5rem;
}

.hamburger {
	display: block;
}

.hamburger.open {
	display: none;
}

nav.open {
	position: absolute;
	top: 3.5rem;
	left: 0;
	z-index: 5;
	display: block;
	background-color: white;
	width: calc(100% - 3rem);
	margin: 2rem 1.5rem 0 1.5rem;
	line-height: 2.35;
	border-radius: var(--card-border-radius);
}

nav {
	display: none;
}

hr {
	border-top: .01rem solid var(--Dark-gray);
	opacity: 35%;
}

nav ul li {
	padding: 1rem;
	font-weight: 500;
}

nav ul a {
	text-decoration: none;
	color: black;
	transition: ease-in-out 100ms;
}

nav ul a:hover {
	cursor: pointer;
	color: var(--Dark-gray);
}

.overlay.active {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 4;
	background-color: black;
	opacity: 40%;
}

.overlay {
	display: none;
}

/* ITEM CONTAINER */
.m-logo {
	position: absolute;
	top: 15.4rem;
	left: 50%;
	transform: translate(-50%, -50%);
}

.item-container {
	display: flex;
	flex-direction: column;
	z-index: 3;
	background-color: white;
	margin: 10.5rem 1.5rem 2rem 1.5rem;
	padding: 3rem 1rem 2rem 1rem;
	text-align: center;
	border-radius: var(--card-border-radius);
}

.item-container.change {
	z-index: 3;
	background-color: white;
	margin: 11.45rem 1.5rem 3rem 1.5rem;
	padding: 3rem 1rem 2rem 1rem;
	text-align: center;
	border-radius: var(--card-border-radius);
}

.item-container h2 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 1rem;
	padding: 0 1rem;
}

.item-container p {
	color: var(--Dark-gray);
	line-height: 1.5;
	margin-bottom: 1rem;
}

.item-container button {
	text-decoration: none;
	border: none;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.back-project-btn {
	background-color: var(--Moderate-cyan);
	color: white;
	font-size: 16px;
	font-weight: 700;
	padding: 1rem 3.1rem;
	border-radius: 35px;
	cursor: pointer;
	transition: ease-in-out 100ms;
}

.back-project-btn:hover {
	background-color: var(--Dark-cyan);
}

.bookmark-btn button {
	background-color: transparent;
	cursor: pointer;
	display: flex;
	transition: 100ms ease-in-out;
}

.bookmark-btn svg {
	border-radius: 50%;
}

.bookmark-btn p {
	margin-bottom: 0;
	display: none;
}

.bookmark-btn {
	transition: ease-in-out 100ms;
	border-radius: 30px;
}

.bookmark-btn.clicked p {
	color: var(--Dark-cyan);
}

.bookmark-btn.clicked .bookmark {
	display: none;
}

.bookmark-btn .bookmarked {
	display: none;
}

.bookmark-btn.clicked circle {
	fill: var(--Dark-cyan);
	transition: 100ms ease-in-out;
}

.bookmark-btn.clicked path {
	fill: white;
	transition: 100ms ease-in-out;
}

.bookmark-btn:hover {
	opacity: 70%;
	transition: 100ms ease-in-out;
}

/* STATS CONTAINER */
.stats-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-color: white;
	line-height: 1.5;
	margin: var(--card-margin);
	border-radius: var(--card-border-radius);
	padding: 2rem 0;
}

.stats-container.change {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-color: white;
	line-height: 1.5;
	margin: -1rem 1.5rem 2rem 1.5rem;
	border-radius: var(--card-border-radius);
	padding: 2rem 0;
}

.stats-container h2 {
	font-size: 35px;
}

.stats-container p {
	color: var(--Dark-gray);
}

.stats-container hr {
	margin: 1.5rem auto 1rem auto;
	width: 6rem;
}

.stat-bar {
	height: 1rem;
	background-color: whitesmoke;
	margin: 2rem 1rem 0 1rem;
	border-radius: 30px;
}

.stat-update {
	width: 75%;
	height: 1rem;
	border-radius: 30px;
	background-color: var(--Moderate-cyan);
}

/* DISCRIPTION CONTAINER */
.discrip-container {
	background-color: white;
	margin: var(--card-margin);
	padding: 2rem 1rem;
	line-height: 1.5;
	border-radius: var(--card-border-radius);
}

.discrip-container h2 {
	font-size: 20px;
	margin-bottom: 1rem;
}

.discrip-container p {
	color: var(--Dark-gray);
	margin-bottom: 1rem;
}

.discrip-container p:nth-of-type(2) {
	margin-bottom: 2rem;
}

/* PLEDGE CONTAINERS */
.pledge-container {
	margin: 1rem 0;
	border: .1px solid var(--Fadded-dark-gray);
	border-radius: var(--card-border-radius);
	padding: 1rem;
}

.type {
	font-size: 16px;
	font-weight: 700;
}

.price {
	color: var(--Moderate-cyan);
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 1rem;
}

.pledge-container h2 {
	display: flex;
	align-items: center;
	font-size: 35px;
	font-weight: 700;
}

.pledge-container span {
	color: var(--Dark-gray);
	font-size: 16px;
	font-weight: 400;
	margin-left: .5rem;
}

.reward-btn {
	border: none;
	background-color: var(--Moderate-cyan);
	color: whitesmoke;
	font-weight: 700;
	font-size: 16px;
	padding: 1rem 2rem;
	border-radius: 30px;
	cursor: pointer;
	transition: ease-in-out 100ms;
}

.reward-btn:hover {
	background-color: var(--Dark-cyan);
}

.pledge-container.out-of-stock {
	opacity: 35%;
}

.reward-btn.out-of-stock-btn {
	background-color: var(--Dark-gray);
	cursor: default;
}

/* DEFAULT MODAL */
.default-modal.open {
	display: block;
	position: absolute;
	top: 5.5rem;
	left: 0;
	z-index: 5;
	display: block;
	background-color: white;
	width: calc(100% - 3rem);
	margin: 2rem 1.5rem 0 1.5rem;
	line-height: 1.5;
	border-radius: var(--card-border-radius);
	padding: 2rem 1rem;
}

.default-modal {
	display: none;
}

.default-modal.open .pledge-container {
	padding-right: 0;
	padding-left: 0;
}

.default-modal.open .pledge-container .radio {
	padding-left: 1rem;
}

.default-modal.open .pledge-container p {
	padding-left: 1rem;
	padding-right: 1rem;
}

.default-modal.open .pledge-container.clicked {
	border: 2px solid var(--Moderate-cyan);
	transition: 100ms ease-in-out;
	padding-right: 0;
	padding-left: 0;
}

.default-modal.open .pledge-container.clicked .radio {
	padding-left: 1rem;
}

.default-modal.open .pledge-container.clicked p {
	padding-left: 1rem;
	padding-right: 1rem;
}

.default-modal.open .pledge-container.clicked .enter-pledge hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.default-modal.open .pledge-container .enter-pledge .button-input {
	padding-left: 1rem;
	padding-right: 1rem;
}

.default-modal.open .pledge-container .enter-pledge {
	display: none;
}

.default-modal.open .pledge-container.clicked .enter-pledge {
	display: block;
}

.default-modal.open div svg {
	cursor: pointer;
	opacity: 40%;
	transition: ease-in-out 100ms;
}

.default-modal.open div svg:hover {
	opacity: 100%;
}

.default-modal.open .desktop-span h2 {
	display: none;
}

.default-modal.open h2 {
	font-size: 20px;
}

.default-modal.open .bamboo-amount-2,
.default-modal.open .black-ed-amount-2,
.default-modal.open .out {
	padding-left: 1rem;
}

.default-modal.open p {
	color: var(--Dark-gray);
	margin-bottom: 1rem;
}

.default-modal.open .modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.default-modal.open .radio {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.default-modal.open input[type='radio'] {
	cursor: pointer;
	appearance: none;
	background-color: white;
	transform: translate(-3.5%, -3.5%);
	border-radius: 50%;
	width: 27px;
	height: 27px;
	transition: 100ms ease-in-out;
}

.default-modal.open #out-of-stock {
	cursor: default;
}

.default-modal.open .radio input:checked {
	border: 7px solid white;
	background-color: var(--Moderate-cyan);
}

.default-modal.open .radio .radio-border {
	overflow: hidden;
	border: 1px solid var(--Fadded-dark-gray);
	border-radius: 50%;
	width: 27px;
	height: 27px;
}

.default-modal.open .radio .radio-border:hover {
	border-color: var(--Moderate-cyan);
}

.default-modal.open .radio .radio-border.oos:hover {
	border-color: var(--Fadded-dark-gray);
}

.default-modal.open .radio .type.oos:hover {
	color: black;
	cursor: default;
}

.default-modal.open h3 {
	margin-left: 1rem;
	margin-bottom: 0;
}

/* "ENTER PLEDGE" INPUT */
.enter-pledge div {
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.enter-pledge h4 {
	color: var(--Dark-gray);
	font-weight: 500;
	text-align: center;
	margin-bottom: 1rem;
}

.default-modal.open .enter-pledge .desktop-pledge {
	flex-direction: column;
}

.default-modal.open .enter-pledge .button-input {
	padding-left: 0;
	padding-right: 0;
}

.enter-pledge div button {
	cursor: pointer;
	appearance: none;
	border: none;
	border-radius: 30px;
	color: white;
	background-color: var(--Moderate-cyan);
	font-size: 16px;
	padding: 1rem 1.1rem;
	transition: ease-in-out 100ms;
}

.enter-pledge div button:hover {
	background-color: var(--Dark-cyan);
}

.enter-pledge .price-container {
	cursor: pointer;
	display: flex;
	background-color: white;
	border: 1px solid var(--Dark-gray);
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 30px;
	height: 3.1565rem;
	padding-left: 1rem;
}

.enter-pledge .price-container:hover {
	border-color: var(--Moderate-cyan);
}

.money-sign {
	appearance: none;
	border: none;
	outline: none;
	font-size: 16px;
	width: .6rem;
	color: var(--Dark-gray);
}

input[id = pa1],
input[id = pa2],
input[id = pa3] {
	text-align: center;
	font-weight: 700;
	appearance: none;
	border: none;
	background-color: transparent;
	padding-right: 1.5rem;
	max-width: 4.5rem;
	font-size: 16px;
	padding-top: 2.5px;
}

textarea:focus,
input[id=pa1]:focus,
input[id=pa2]:focus,
input[id=pa3]:focus {
	outline: none;
}

/* COMPLETED MODAL */
.completed-modal.open {
	display: block;
	position: absolute;
	top: 7rem;
	z-index: 5;
	background-color: white;
	width: calc(100% - 3rem);
	margin: 2rem 1.5rem 0 1.5rem;
	line-height: 1.5;
	border-radius: var(--card-border-radius);
	padding: 2rem 1rem;
}

.completed-modal {
	display: none;
}

.completed-modal.open .check {
	text-align: center;
	margin-bottom: 1rem;
}

.completed-modal.open h2 {
	font-size: 20px;
	text-align: center;
	margin-bottom: 1.5rem;
}

.completed-modal.open p {
	color: var(--Dark-gray);
	text-align: center;
	font-size: 15px;
	margin-bottom: 1.5rem;
}

.completed-modal.open button {
	cursor: pointer;
	display: flex;
	appearance: none;
	border: none;
	border-radius: 30px;
	color: white;
	background-color: var(--Moderate-cyan);
	font-size: 15px;
	font-weight: 700;
	margin: 0 auto;
	padding: 1rem 2.5rem;
	transition: ease-in-out 100ms;
}

.completed-modal.open button:hover {
	background-color: var(--Dark-cyan);
}

/* MEDIA QUERIES */
@media (min-width: 355px) {
	input[id = pa1],
	input[id = pa2],
	input[id = pa3] {
		max-width: 5.5rem;
	}

	.enter-pledge div button {
		padding: 1rem 1.5rem;
	}
}

@media (max-width: 370px) {
	.back-project-btn {
		font-size: 14px;
		padding: 1rem 2rem;
	}
}

@media (min-width: 502px) {
	.bookmark-btn.clicked .bookmarked {
		display: block;
		padding-left: 1rem;
		padding-right: 1.5rem;
	}
}

@media (min-width: 490px) {
	.bookmark-btn p {
		margin-bottom: 0;
		display: block;
	}

	.bookmark-btn button {
		align-items: center;
		background-color: whitesmoke;
		font-size: 16px;
		font-weight: 700;
		color: var(--Dark-gray);
		padding-right: 1.5rem;
		border-radius: 30px;
	}

	.bookmark-btn.clicked button {
		padding-right: 0;
	}

	.bookmark-btn svg {
		margin-right: 1rem;
	}

	.bookmark-btn.clicked svg {
		margin-right: 0;
	}
}

@media (min-width: 769px) {
	/* TOP IMAGE */
	body {
		background-image: url(images/image-hero-desktop.jpg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	/* NAV */
	.hamburger {
		display: none;
	}

	.header {
		max-width: 76.5rem;
		margin: 3rem 2rem 0 auto;
	}

	.logo {
		position: absolute;
		z-index: 5;
		top: 3rem;
		left: auto;
		margin-left: 3rem;
	}

	nav {
		display: flex;
		flex-direction: column;
	}
	nav ul {
		display: flex;
	}

	nav ul li {
		padding-top: 0;
	}

	nav ul a {
		color: white;
	}

	nav ul a:hover {
		cursor: pointer;
		color: black;
	}

	.header hr {
		display: none;
	}

	/* ITEM CONTAINER */
	.m-logo {
		position: absolute;
		top: 15.7rem;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.item-container {
		max-width: 46rem;
		margin: 10.5rem auto 2rem auto;
		padding: 3rem 2.5rem 2rem 2.5rem;
		text-align: center;
		border-radius: var(--card-border-radius);
	}

	.item-container h2 {
		font-size: 27px;
	}

	.item-container p {
		margin-bottom: 2rem;
	}

	.bookmark-btn p {
		margin-bottom: 0;
	}

	/* STATS CONTAINER */
	.stats-container {
		max-width: 46rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 0 auto 2rem auto;
		padding: 2rem 2.5rem;
	}

	.stats-container ul {
		display: flex;
	}

	.stats-container hr {
		margin: 0 2.7rem 0 4.7rem;
		width: 0;
	}

	.stat-bar {
		margin: 2rem 0rem 0 0rem;
	}

	/* DESCRIPTION CONTAINER */
	.discrip-container {
		max-width: 46rem;
		margin: 0 auto 7rem auto;
		padding: 2rem 2.5rem;
		line-height: 2;
	}

	/* PLEDGE CONTAINERS */
	.pledge-container {
		margin: 1rem 0;
		border: .1px solid var(--Fadded-dark-gray);
		border-radius: var(--card-border-radius);
		padding: 1.5rem 2rem;
	}

	.price-type {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	.type {
		font-size: 18px;
	}

	.price {
		margin-bottom: 0;
	}

	.pledge-container h2 {
		margin-bottom: 0;
	}

	/* DEFAULT MODAL */
	.default-modal.open {
		width: 46rem;
		top: 47rem;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 2rem auto 0 auto;
		line-height: 2;
		padding: 2rem 2.5rem;
	}

	.default-modal.open h2 {
		font-size: 23px;
	}

	.default-modal.open .des-p {
		margin-bottom: 2rem;
	}

	.default-modal.open .type {
		font-size: 16px;
	}

	.default-modal.open .price-type {
		margin-bottom: 0;
	}

	.default-modal.open .desktop-span {
		display: flex;
	}

	.default-modal.open .desktop-span h2 {
		display: block;
	}

	.default-modal.open .pledge-container .radio {
		padding-left: 2.5rem;
	}

	.default-modal.open .pledge-container p {
		padding-left: 5.2rem;
		padding-right: 2.9rem;
	}

	.default-modal.open .pledge-container.clicked {
		border: 2px solid var(--Moderate-cyan);
		transition: 100ms ease-in-out;
		padding-right: 0;
		padding-left: 0;
	}

	.default-modal.open .pledge-container.clicked .radio {
		padding-left: 2.5rem;
	}

	.default-modal.open .pledge-container.clicked p {
		padding-left: 5.2rem;
		padding-right: 2.9rem;
	}

	.default-modal.open .desktop-span .bamboo-amount-2 {
		margin-left: 13.7rem;
		font-size: 18px;
	}

	.default-modal.open .desktop-span .black-ed-amount-2 {
		margin-left: 11.9rem;
		font-size: 18px;
	}

	.default-modal.open .desktop-span h2 {
		margin-left: 8.9rem;
		font-size: 18px;
	}

	.default-modal.open .bamboo-amount-2,
	.default-modal.open .black-ed-amount-2,
	.default-modal.open .out {
		display: none;
	}

	/* "ENTER PLEDGE" INPUT */
	.default-modal.open .enter-pledge .desktop-pledge {
		flex-direction: row;
		margin: 2rem 2.5rem 1rem 2.5rem;
	}

	.enter-pledge div button {
		margin-left: 1.5rem;
	}

	.enter-pledge div button:hover {
		background-color: var(--Dark-cyan);
	}

	.enter-pledge .price-container {
		cursor: pointer;
		display: flex;
		background-color: white;
		border: 1px solid var(--Dark-gray);
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 30px;
		height: 3.1565rem;
		padding-left: 1rem;
	}

	/* COMPLETED MODAL */
	.completed-modal.open {
		width: 34rem;
		top: 26.5rem;
		left: 50%;
		transform: translate(-53.3%);
		line-height: 2;
		padding: 3rem 1rem;
	}

	.completed-modal.open h2 {
		font-size: 25px;
	}
}

@media (min-width: 1250px) {
	/* NAV */
	.header {
		max-width: 76.5rem;
		margin: 3rem auto 0 auto;
	}
}

@media (min-width: 1160px) {
	/* ITEM CONTAINER */
	.m-logo {
		top: 19.7rem;
	}

	.item-container {
		margin-top: 14.5rem;
	}
}
